---
layout: page
title: Contents / Index
permalink: notebook/index.html
style: notebook
---
<pre>
> SELECT "Categories","title","dateTime","comments" FROM "MetaData" GROUPBY "Categories"

<ul>{% for category in site.categories %}<li>{{ category[0] }}
<ul>{% for post in category[1] %}
<li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> <time class="dt-published" datetime="{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> () </li>
{% endfor %}</ul></li>
{% endfor %}</ul>

OK
>
</pre>
