<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
<title>{{page.title}} | {{site.title}}</title>
    <link href="{{site.baseurl}}/assets/css/devlog.css" rel="stylesheet" rev="stylesheet" />

<script src="{{site.baseurl}}/assets/js/gitgraph.min.js"></script>
<script src="{{site.baseurl}}/assets/js/marginalia/marginalia.js"></script>


<!-- skin -->
<link rel="stylesheet" href="https://releases.flowplayer.org/7.2.7/skin/skin.css">

<!-- 2. jquery library - required for video tag based installs -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- hls.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hls.js/0.10.1/hls.light.min.js"></script>
<!-- flowplayer -->
<script src="https://releases.flowplayer.org/7.2.7/flowplayer.min.js"></script>
{% seo %}
 </head>
 <body>
 <!-- end of header -->

