<!-- footter -->

</div>
{{site.gobal.bridgy}}
<div class="footer">
<a href="{{site.baseurl}}/rss.feed"><i class="openwebicons-feed"></i></a><br />

Powered by:
<a href="https://www.indieweb.org/"><i class="openwebicons-indieweb"></i> Indieweb Technologies</a>:
<a href="https://indieweb.org/Webmention"><i class="openwebicons-webmention"></i></a>
<a href="https://indieweb.org/microformats"><i class="openwebicons-microformats"></i></a>
Web standards:
<a href="https://html.spec.whatwg.org/multipage/"><i class="openwebicons-html5"></i></a>
<i class="openwebicons-multimedia"></i>
<a href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics"><i class="openwebicons-svg"></i></a>
<i class="openwebicons-3deffects"></i><br />
<a rel="license" href="{{site.baseurl}}/rss.feed">Copyright Notices and Privacy policy</a>
</div> 
</body>
</html>
