<div class="polaroid">
<div class="flowplayer" style="width:100%">
   <video class="u-featured" poster="/assets/videos/{{ video }}.jpg">
      <source class="u-video" type="application/x-mpegurl" src="/assets/videos/{{ video }}/playlist.m3u8">
      <source class="u-video" type="video/mp4" src="/assets/videos/{{ video }}.mp4">
      <track kind="subtitles" default srclang="en" label="English" src="/assets/videos/{{ video }}-en.vtt">
      <img src="/assets/videos/{{ video }}.jpg" class="u-photo" />
   </video>
</div>
</div>
